<app-header></app-header>
<main>
    <app-sidebar></app-sidebar>

    <div class="containerSummary">
        <div class="containerHeadline">
            <h1>Join 360</h1>
            <hr>
            <p>Key Metrics at a Glance</p>
        </div>


        <div class="containerTable">
            <table>
                <tr class="firstColumn">
                    <td (click)="directToTheBoard()">
                        <i class="pencilIcon"></i>
                        <div class="containerNumberAndText">
                            <img class="spinerIcon" *ngIf="createTaskService.loadTaskNumbersInSummary"
                                src="./assets/icons/spinner.svg">

                            <p *ngIf="!createTaskService.loadTaskNumbersInSummary">
                                {{ createTaskService.toDoTaskArray.length }}
                            </p>

                            <span>To-do</span>
                        </div>
                    </td>

                    <td (click)="directToTheBoard()">
                        <i class="checkIcon"></i>
                        <div class="containerNumberAndText">
                            <img class="spinerIcon" *ngIf="createTaskService.loadTaskNumbersInSummary"
                                src="./assets/icons/spinner.svg">

                            <p *ngIf="!createTaskService.loadTaskNumbersInSummary">
                                {{ createTaskService.doneTaskArray.length }}
                            </p>

                            <span>Done</span>
                        </div>
                    </td>
                </tr>

                <tr class="secondColumn" (click)="directToTheBoard()">
                    <td>
                        <i></i>
                        <div class="containerNumberAndText">
                            <img class="spinerIcon" *ngIf="createTaskService.loadTaskNumbersInSummary"
                                src="./assets/icons/spinner.svg">

                            <p *ngIf="!createTaskService.loadTaskNumbersInSummary">
                                {{ createTaskService.filteredTasksAfterUrgentPrio.length }}
                            </p>

                            <span>Urgent</span>
                        </div>
                    </td>

                    <hr>

                    <td>
                        <div class="containerDateDeadline">
                            <img class="spinerIcon" *ngIf="createTaskService.loadTaskNumbersInSummary"
                                src="./assets/icons/spinner.svg">

                            <!-- <p class=" textNoUpcomingDeadlinesExist"
                                *ngIf="!createTaskService.loadTaskNumbersInSummary && createTaskService.nextDueDate.dueDate == null">
                                No Upcoming Deadlines exist
                            </p> -->

                            <p *ngIf="!createTaskService.loadTaskNumbersInSummary">
                                <!-- {{ createTaskService.nextDueDate.dueDate | date: 'longDate'}} -->
                            </p>

                            <Span>Upcoming Deadline</Span>
                        </div>
                    </td>
                </tr>


                <tr class="thirdColumn">
                    <td (click)="directToTheBoard()">
                        <div class="containerNumberAndText">
                            <img class="spinerIcon" *ngIf="createTaskService.loadTaskNumbersInSummary"
                                src="./assets/icons/spinner.svg">

                            <p *ngIf="!createTaskService.loadTaskNumbersInSummary">
                                {{ createTaskService.toDoTaskArray.length +
                                createTaskService.inProgressTaskArray.length +
                                createTaskService.awaitingFeebackTaskArray.length +
                                createTaskService.doneTaskArray.length }}
                            </p>

                            <span>Tasks in</span>
                            <span>Board</span>
                        </div>
                    </td>

                    <td (click)="directToTheBoard()">
                        <div class="containerNumberAndText">
                            <img class="spinerIcon" *ngIf="createTaskService.loadTaskNumbersInSummary"
                                src="./assets/icons/spinner.svg">

                            <p *ngIf="!createTaskService.loadTaskNumbersInSummary">
                                {{ createTaskService.inProgressTaskArray.length }}
                            </p>

                            <span>Tasks in</span>
                            <span>Progress</span>
                        </div>
                    </td>

                    <td (click)="directToTheBoard()">
                        <div class="containerNumberAndText">
                            <img class="spinerIcon" *ngIf="createTaskService.loadTaskNumbersInSummary"
                                src="./assets/icons/spinner.svg">

                            <p *ngIf="!createTaskService.loadTaskNumbersInSummary">
                                {{ createTaskService.awaitingFeebackTaskArray.length }}
                            </p>

                            <span>Awaiting</span>
                            <span>Feedback</span>
                        </div>
                    </td>
                </tr>
            </table>


            <div class="containerGreetingUser">
                <p>Good Morning,</p>
                <span>
                    <!-- <img *ngIf="!authService.auth.currentUser" src="./assets/icons/spinner.svg">
                    {{ authService.auth.currentUser?.displayName }} -->
                </span>
            </div>


            <!--------------------------- Only displayed in Mobile View --------------------------->
            <div *ngIf="displayLoggedUserMobibleView" class="containerGreetingUserMobileView">
                <div>
                    <p>Good Morning,</p>
                    <span>
                        <!-- <img *ngIf="!authService.auth.currentUser" src="./assets/icons/spinner.svg">
                        {{ authService.auth.currentUser?.displayName }} -->
                    </span>
                </div>
            </div>
            <!--------------------------- Only displayed in Mobile View --------------------------->
        </div>
    </div>
</main>