@import '../../../scss/mixin.scss';
@import '../../../scss/variables.scss';


main {
    display: flex;
    align-items: center;
    background-color: #F6F7F8;
}


.containerSummary {
    width: 87%;
    @include flexCenteredColumnXAxis();
}


.containerHeadline {
    @include flexCenteredYAxis();
    gap: 30px;
    padding: 80px 310px 35px 0;

    h1 {
        @include headline();
        margin: 0;
    }

    hr {
        height: 60px;
        width: 3px;
        border-radius: 3px;
        margin: 0;
        background-color: $blueLineColor;
        border: unset;
    }

    p {
        font-size: 27px;
        margin: 0;
        color: $mainColor;
    }
}


.containerTable {
    @include flexCenteredYAxis();
    gap: 50px;
}


.firstColumn {
    @include flexCenteredXAxis();
    gap: 25px;

    td {
        @include hover();
        @include flexCenteredYAxis();
        gap: 18px;
        border-radius: 30px;
        box-shadow: 0px 0px 4px 0px #0000001A;
        padding: 15px 65px 15px 65px;
        background-color: white;

        i {
            background-color: $mainColor;
            padding: 30px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
        }

        &:hover {
            background-color: $mainColor;
            transform: scale(1.1);

            p {
                color: #ffffff;
            }

            span {
                color: #ffffff;
            }

            .pencilIcon {
                background-color: #ffffff;
                background-image: url('../../../assets/icons/pencil-icon-blue.svg');
            }

            .checkIcon {
                background-color: #ffffff;
                background-image: url('../../../assets/icons/check-icon-blue.svg');
            }
        }
    }
}


.pencilIcon {
    background-image: url('../../../assets/icons/pencil-icon-white.svg');
}


.checkIcon {
    background-image: url('../../../assets/icons/check-icon-white.svg');
}


.secondColumn {
    @include hover();
    @include flexCenteredYAxis();
    gap: 61px;
    margin: 25px 0 25px 0;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    padding: 15px 40px 15px 40px;
    background-color: white;

    &:hover {
        background-color: $mainColor;
        transform: scale(1.1);

        p {
            color: #ffffff;
        }

        span {
            color: #ffffff;
        }

        hr {
            background-color: #ffffff
        }
    }

    td {
        @include flexCenteredYAxis();
        gap: 18px;
    }

    hr {
        width: 2px;
        height: 90px;
        margin: 0;
        background-color: #D1D1D1;
        border: unset;
    }

    i {
        background-image: url('../../../assets/icons/priority-urgent-icon-white.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FF3D00;
        padding: 30px;
        border-radius: 50%;
    }
}


.containerDateDeadline {
    display: flex;
    flex-direction: column;
    gap: 13px;

    p {
        margin: 0;
        font-size: 21px;
        font-weight: 700;
        color: $mainColor;
    }

    span {
        font-size: 20px;
        color: $mainColor;
    }
}


.thirdColumn {
    @include flexCenteredXAxis();
    gap: 25px;

    td {
        @include hover();
        border-radius: 30px;
        box-shadow: 0px 0px 4px 0px #0000001A;
        padding: 15px 40px 15px 40px;
        background-color: white;

        &:hover {
            background-color: $mainColor;
            transform: scale(1.1);

            p {
                color: #ffffff;
            }

            span {
                color: #ffffff;
            }
        }
    }
}


.containerNumberAndText {
    @include flexCenteredColumnXAxis();

    p {
        margin: 0;
        font-size: 61px;
        font-weight: 600;
    }

    span {
        font-size: 20px;
        color: $mainColor;
    }
}


.containerGreetingUser {
    p {
        font-size: 47px;
        font-weight: 500;
        margin: 0;
        color: $mainColor;
    }

    span {
        font-size: 64px;
        font-weight: 5700;
        color: #29ABE2;

        img {
            width: 50px;
        }
    }
}