<app-header></app-header>
<main>
    <app-sidebar></app-sidebar>

    <div class="containerSummary">
        <div class="containerHeadline">
            <h1>Join 360</h1>
            <hr>
            <p>Key Metrics at a Glance</p>
        </div>


        <div class="containerTable">
            <table>
                <tr class="firstColumn">
                    <td>
                        <i class="pencilIcon"></i>
                        <div class="containerNumberAndText">
                            <p>1</p>
                            <span>To-do</span>
                        </div>
                    </td>

                    <td>
                        <i class="checkIcon"></i>
                        <div class="containerNumberAndText">
                            <p>1</p>
                            <span>Done</span>
                        </div>
                    </td>
                </tr>

                <tr class="secondColumn">
                    <td>
                        <i></i>
                        <div class="containerNumberAndText">
                            <p>1</p>
                            <span>Urgent</span>
                        </div>
                    </td>

                    <hr>

                    <td>
                        <div class="containerDateDeadline">
                            <p>November 20, 2023</p>
                            <Span>Upcoming Deadline</Span>
                        </div>
                    </td>
                </tr>


                <tr class="thirdColumn">
                    <td>
                        <div class="containerNumberAndText">
                            <p>1</p>
                            <span>Tasks in</span>
                            <span>Board</span>
                        </div>
                    </td>

                    <td>
                        <div class="containerNumberAndText">
                            <p>1</p>
                            <span>Tasks in</span>
                            <span>Progress</span>
                        </div>
                    </td>

                    <td>
                        <div class="containerNumberAndText">
                            <p>1</p>
                            <span>Awaiting</span>
                            <span>Feedback</span>
                        </div>
                    </td>
                </tr>
            </table>


            <div class="containerGreetingUser">
                <p>Good Morning,</p>
                <span>{{ authService.guest }}</span>
            </div>
        </div>
    </div>
</main>