<main>
    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="containerSummary">
        <div class="containerHeadline">
            <h1>Join 360</h1>
            <hr>
            <p>Key Metrics at a Glance</p>
        </div>

        <table>
            <tr class="firstColumn">
                <td>
                    <img src="../../../assets/icons/pencil-icon.svg">
                    <div>
                        <p>1</p>
                        <p>To-do</p>
                    </div>
                </td>

                <td>
                    <img src="../../../assets/icons/check-icon.svg">
                    <div>
                        <p>1</p>
                        <p>Done</p>
                    </div>
                </td>
            </tr>
        </table>
        <!--         
        <div class="containerBoxes">
            <div>
                <img src="../../../assets/icons/pencil-icon.svg">
            </div>
        </div> -->
    </div>
</main>