<main>
    <app-overlay></app-overlay>

    <header>
        <img src="../../../assets/img/favicon-blue.svg">
    </header>

    <div class="parentContainerForgotMyPassword">

        <div class="childContainerForgotMyPassword">
            <img routerLink="/login" src="../../../assets/icons/arrow-back-icon.svg">

            <h1>I forgot my Password</h1>

            <hr>

            <p class="text">No worries! We will send you an email with instructions on how to reset your password.</p>

            <form (submit)="sendMailToResetPassword()" [formGroup]="forgotMyPasswordForm">
                <input [ngClass]="{'errorInputfield': forgotMyPasswordForm.controls.email.errors?.['required'] && 
                    forgotMyPasswordForm.touched || 
                    forgotMyPasswordForm.controls.email.errors?.['pattern']}" formControlName="email" type="email"
                    placeholder="Email">

                <p *ngIf="forgotMyPasswordForm.controls.email.errors?.['required'] && forgotMyPasswordForm.touched"
                    class="errorMessage">
                    Email is required
                </p>

                <p *ngIf="forgotMyPasswordForm.controls.email.errors?.['pattern']" class="errorMessage">
                    Please enter a Valid Email
                </p>

                <div class="btnContainer">
                    <button [ngClass]="{'btnDisabled': forgotMyPasswordForm.invalid}"
                        [disabled]="forgotMyPasswordForm.invalid" type="submit">
                        Send me the Email
                    </button>
                </div>
            </form>
        </div>

    </div>
</main>