////////////////// Width
@media screen and (max-width: 900px) {
    header {
        padding: 30px 90px 0px 90px;
    }

    .childContainerForgotMyPassword {

        img {
            top: 20px;
            left: 20px;
        }
    }

    .text {
        width: 600px;
        text-align: center;
    }
}


@media screen and (max-width: 830px) {
    header {
        padding: 30px 60px 0px 60px;
    }
}


@media screen and (max-width: 760px) {
    .childContainerForgotMyPassword {

        h1 {
            font-size: 51px;
        }
    }

    .text {
        width: 500px;
    }
}


@media screen and (max-width: 650px) {
    .childContainerForgotMyPassword {

        h1 {
            font-size: 45px;
        }
    }

    .text {
        width: 400px;
    }
}


@media screen and (max-width: 560px) {
    header {
        padding: 30px 30px 0px 30px;

        img {
            width: 60px;
        }
    }

    .childContainerForgotMyPassword {
        padding: 28px 25px 28px 25px;

        img {
            top: 15px;
            left: 15px;
        }

        hr {
            margin: -32px 0px 0px 0px;
        }
    }

    .text {
        font-size: 18px;
    }
}


@media screen and (max-width: 520px) {
    .childContainerForgotMyPassword {
        width: 80%;

        img {
            top: 25px;
            left: 30px;
        }

        h1 {
            text-align: center;
        }
    }

    form {

        input {
            width: 250px;
            background-position: 270px;
        }
    }
}


@media screen and (max-width: 400px) {
    header {

        img {
            width: 50px;
        }
    }

    .childContainerForgotMyPassword {
        width: 75%;

        img {
            top: 18px;
            left: 20px;
        }
    }

    .text {
        width: 300px;
    }

    form {

        input {
            width: 200px;
            background-position: 220px;
        }
    }
}


@media screen and (max-width: 320px) {

    .childContainerForgotMyPassword {

        img {
            top: 18px;
            left: 12px;
        }
    }

    .text {
        width: 250px;
        font-size: 16px;
    }

    form {

        input {
            width: 170px;
            background-position: 190px;
        }
    }
}


////////////////// Height
@media screen and (max-height: 550px) {
    main {
        height: unset;
    }

    .parentContainerForgotMyPassword {
        padding-bottom: 15px;
    }
}