<app-header></app-header>

<main>
    <app-sidebar></app-sidebar>

    <app-dialog-create-new-contact *ngIf="openDialogService.overlayCreateNewContactIsDisplayed">

    </app-dialog-create-new-contact>

    <app-dialog-edit-contact *ngIf="openDialogService.overlayEditContactIsDisplayed"></app-dialog-edit-contact>

    <div class="containerContacts">
        <div class="containerContactList">

            <div class="contactList">
                <div class="containerBtn">
                    <button (click)="openDialogCreateNewContact()" type="button">
                        Add new Contact
                        <img src="../../../assets/icons/add-new-contact-icon.svg">
                    </button>
                </div>


                <!--------------------- Only displayed if no Contacts existing --------------------->
                <p class="textNoContactsExisting" *ngIf="createNewContactService.noContactsExistInDatabase">
                    No Contacts existing
                </p>
                <!--------------------- Only displayed if no Contacts existing --------------------->


                <!--------------------- Only displayed if Contacts are Loading --------------------->
                <img *ngIf="createNewContactService.loadigContacts" class="spinnerIcon"
                    src="../../../assets/icons/spinner.svg">
                <!--------------------- Only displayed if Contacts are Loading --------------------->


                <div *ngFor="let contact of (createNewContactService.contactData | async) as Contact; let i = index">
                    <!--------------------- Checks whether the first letter already exists in the list so that no more than one is displayed. To sort the contacts correctly alphabetically --------------------->
                    <p
                        *ngIf="i == 0 || getInitialLetterFromContact(contact) !== Contact[i - 1].name.charAt(0).toUpperCase()">
                        {{ contact.initialLetter }}
                    </p>
                    <!--------------------- Checks whether the first letter already exists in the list so that no more than one is displayed. To sort the contacts correctly alphabetically --------------------->


                    <!--------------------- Checks whether a line already exists in the list, so only one line is displayed per existing letter --------------------->
                    <hr
                        *ngIf="i == 0 || getInitialLetterFromContact(contact) !== Contact[i - 1].name.charAt(0).toUpperCase()">

                    <!--------------------- Checks whether a line already exists in the list, so only one line is displayed per existing letter --------------------->

                    <div class="containerContactInitialLetterAndFullNameAndEmail" routerLinkActive="selectedContact"
                        routerLink="/contacts/contact/{{ contact.id }}">
                        <p class="contactInitialLetter" [ngStyle]="{'background-color': contact.color}">
                            {{ contact.initialLetter }}
                        </p>
                        <div class="containerFullNameAndEmail">
                            <p>{{ contact.name }}</p>
                            <span>{{ contact.email }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="containerContactListDetailView">
            <div class="containerHeadline">
                <h1>Contacts</h1>
                <hr>
                <p>Better with a team</p>
            </div>

            <!--------------------- Displayed here the Contact Detailview Componet --------------------->
            <router-outlet></router-outlet>
            <!--------------------- Displayed here the Contact Detailview Componet --------------------->


            <!--------------------- User Feedback if Contact was Created successfully --------------------->
            <div *ngIf="createNewContactService.userFeedbackIsDisplayedIfCreated" [ngClass]="{'slideIn': createNewContactService.contactSuccessfullyCreated, 
                'slideOut': !createNewContactService.contactSuccessfullyCreated}" class="popUpSuccessfully">
                <p>Contact successfully created.</p>
            </div>
            <!--------------------- User Feedback if Contact was Created successfully  --------------------->


            <!--------------------- User Feedback if Contact was Edit successfully  --------------------->
            <div *ngIf="createNewContactService.userFeedbackIsDisplayedIfEdit" [ngClass]=" {'slideIn': createNewContactService.contactSuccessfullyEdit, 
               'slideOut': !createNewContactService.contactSuccessfullyEdit}" class="popUpSuccessfully">
                <p>Contact successfully edit.</p>
            </div>
            <!--------------------- User Feedback if Contact was Edit successfully  --------------------->
        </div>
    </div>
</main>