@import '../../../scss/mixin.scss';
@import '../../../scss/variables.scss';


main {
    background-color: $mainBgColor;
    display: flex;
}


.containerContacts {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 100px;
}


.containerContactList {
    @include flexCenteredColumnXAxis();
    width: 30%;
    position: relative;
    z-index: 1;
    margin-top: 80px;
    padding: 32px 24px 0px 24px;
    background-color: #FFFFFF;
    box-shadow: 4px 0px 6px 0px #00000014;
    overflow-y: scroll;
    overflow-x: hidden;
}


.contactList {
    p {
        font-size: 20px;
        padding-left: 28px;
    }

    hr {
        width: 400px;
        height: 1px;
        margin: 15px 0 10px 0;
        background-color: #D1D1D1;
        border: unset;
    }
}


.containerBtn {
    height: 100px;
    position: sticky;
    top: -32px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -32px -50px 0px -50px;

    button {
        @include hover();
        @include btnPrimary();
        @include btnPrimaryHover();
        @include flexCenteredYAxis();
        gap: 16px;
        border-radius: 10px;
        padding: 12px 85px 12px 85px;
        font-size: 20px;
        font-weight: 700;

        img {
            width: 25px;
        }
    }
}


.textNoContactsExisting {
    width: 270px;
    font-size: 45px !important;
    padding-left: 0 !important;
    margin: 150px 0 0 0;
    font-weight: 700;
    text-align: center;
}


.spinnerIcon {
    width: 200px;
    padding: 100px 0px 0px 40px;
}


.containerContactInitialLetterAndFullNameAndEmail {
    @include hover();
    display: flex;
    gap: 35px;
    padding-left: 19px !important;
    margin-bottom: 10px;
    border-radius: 10px;

    &:hover {
        background: linear-gradient(to bottom, #f9f9f9, #f7f7f7, #f4f4f4, #f2f2f2, #f0f0f0);
    }
}


.contactInitialLetter {
    @include flexCenteredMiddle();
    width: 35px;
    height: 35px;
    font-size: 16px !important;
    padding-left: 0 !important;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    color: white;
}


.containerFullNameAndEmail {
    @include flexCenteredColumnYAxis();
    gap: 5px;

    p {
        margin: 0;
        padding-left: 0;
    }

    span {
        font-size: 18px;
        color: #007CEE;
    }
}


.containerAddNewContactIconMobileView {
    @include flexCenteredMiddle();
    background-color: $mainColor;
    position: fixed;
    bottom: 125px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px #00000040;
}


.containerContactListDetailView {
    margin-top: 150px;
}


.arrowIconMobileView {
    @include hover();
    padding: 8px;
    position: absolute;
    right: 30px;

    &:hover {
        @include iconHover();
    }
}


.containerHeadline {
    @include flexCenteredYAxis();
    gap: 30px;

    h1 {
        @include headline();
        margin: 0;
    }

    hr {
        height: 60px;
        width: 3px;
        border-radius: 3px;
        margin: 0;
        background-color: #29ABE2;
        border: unset;
    }

    p {
        font-size: 27px;
        color: $mainColor;
        margin: 0;
    }
}


.selectedContact {
    background-color: $mainColor;
    color: #ffffff;

    &:hover {
        cursor: unset;
        background: $mainColor;
    }
}


.popUpSuccessfully {
    @include popUp();
    background-color: $mainColor;
    position: absolute !important;
    right: 70px;
    bottom: 25px;
    transform: translateY(0);
}


.hide {
    display: none;
}


.show {
    display: flex !important;
}