<app-header></app-header>

<main>
    <app-sidebar></app-sidebar>

    <div class="containerContacts">
        <div class="containerContactList">
            <div class="containerBtn">
                <button type="button">
                    Add new Contact
                    <img src="../../../assets/icons/add-new-contact-icon.svg">
                </button>
            </div>

            <ul>
                <!----------------------------- Only Placeholder --------------------------->
                <li>A</li>
                <hr>
                <li class="containerContactInitialLetterAndFullNameAndEmail">
                    <p class="contactInitialLetter">T</p>
                    <div class="containerFullNameAndEmail">
                        <p>Tom Tom</p>
                        <span>mail@mail.com</span>
                    </div>
                </li>

                <li>B</li>
                <hr>
                <li class="containerContactInitialLetterAndFullNameAndEmail">
                    <p class="contactInitialLetter">T</p>
                    <div class="containerFullNameAndEmail">
                        <p>Bier</p>
                        <span>mail@mail.com</span>
                    </div>
                </li>

                <li>C</li>
                <hr>
                <li class="containerContactInitialLetterAndFullNameAndEmail">
                    <p class="contactInitialLetter">T</p>
                    <div class="containerFullNameAndEmail">
                        <p>Cool</p>
                        <span>mail@mail.com</span>
                    </div>
                </li>

                <li>C</li>
                <hr>
                <li class="containerContactInitialLetterAndFullNameAndEmail">
                    <p class="contactInitialLetter">T</p>
                    <div class="containerFullNameAndEmail">
                        <p>Cool</p>
                        <span>mail@mail.com</span>
                    </div>
                </li>

                <li>C</li>
                <hr>
                <li class="containerContactInitialLetterAndFullNameAndEmail">
                    <p class="contactInitialLetter">T</p>
                    <div class="containerFullNameAndEmail">
                        <p>Cool</p>
                        <span>mail@mail.com</span>
                    </div>
                </li>
                <!----------------------------- Only Placeholder --------------------------->
            </ul>
        </div>
    </div>
</main>