<app-header></app-header>

<main>
    <app-sidebar></app-sidebar>

    <app-dialog-create-new-contact *ngIf="openDialogService.overlayIsDisplayed"></app-dialog-create-new-contact>

    <div class="containerContacts">
        <div class="containerContactList">

            <div class="contactList">
                <div class="containerBtn">
                    <button (click)="openDialog()" type="button">
                        Add new Contact
                        <img src="../../../assets/icons/add-new-contact-icon.svg">
                    </button>
                </div>

                <!----------------------------- Only Placeholder --------------------------->
                <p>A</p>
                <hr>
                <div class="containerContactInitialLetterAndFullNameAndEmail">
                    <p class="contactInitialLetter">T</p>
                    <div class="containerFullNameAndEmail">
                        <p>Tom Tom</p>
                        <span>mail@mail.com</span>
                    </div>
                </div>

                <p>B</p>
                <hr>
                <div class="containerContactInitialLetterAndFullNameAndEmail">
                    <p class="contactInitialLetter">T</p>
                    <div class="containerFullNameAndEmail">
                        <p>Tom Tom</p>
                        <span>mail@mail.com</span>
                    </div>
                </div>

                <p>C</p>
                <hr>
                <div class="containerContactInitialLetterAndFullNameAndEmail">
                    <p class="contactInitialLetter">T</p>
                    <div class="containerFullNameAndEmail">
                        <p>Tom Tom</p>
                        <span>mail@mail.com</span>
                    </div>
                </div>

                <p>D</p>
                <hr>
                <div class="containerContactInitialLetterAndFullNameAndEmail">
                    <p class="contactInitialLetter">T</p>
                    <div class="containerFullNameAndEmail">
                        <p>Tom Tom</p>
                        <span>mail@mail.com</span>
                    </div>
                </div>

                <p>E</p>
                <hr>
                <div class="containerContactInitialLetterAndFullNameAndEmail">
                    <p class="contactInitialLetter">T</p>
                    <div class="containerFullNameAndEmail">
                        <p>Tom Tom</p>
                        <span>mail@mail.com</span>
                    </div>
                </div>
                <!----------------------------- Only Placeholder --------------------------->
            </div>
        </div>


        <div class="containerContactListDetailView">
            <div class="containerHeadline">
                <h1>Contacts</h1>
                <hr>
                <p>Better with a team</p>
            </div>

            <div class="containerContactListDetailViewLowerPart">
                <div class="containerContactListDetailViewInitialLetterAndFullName">
                    <p class="contactDetailViewInitiaLetter">T</p>

                    <div class="containerContactListDetailViewFullName">
                        <p class="contactDetailViewFullName">Tom Tom</p>

                        <div class="mainContainerIconsAndText">
                            <div class="childContainerIconsAndText">
                                <img class="pencilIcon" src="../../../assets/icons/pencil-icon-blue.svg">
                                <p>Edit</p>
                            </div>

                            <div class="childContainerIconsAndText">
                                <img src="../../../assets/icons/trash-icon.svg">
                                <p>Delete</p>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="contactInfos">Contact Information</p>

                <div class="containerContactDetailViewEmailAndPhone">
                    <p>Email</p>
                    <a>mail@mail.com</a>

                    <p>Phone</p>
                    <a>+49123456789</a>
                </div>
            </div>
        </div>
    </div>
</main>