<div class="containerTaskMiniView">
    <p class="taskCategory" [ngStyle]="{'background-color': task.categoryColor}">
        {{ task.categoryName }}
    </p>

    <p class="taskTitle">{{ task.title }}</p>

    <span>{{ task.description ? task.description : 'No Taskdescription exist'}}</span>

    <div class=" footerTaskMiniView">
        <div class="containerAssignedContacts">
            <p [ngStyle]="{'background-color': contact.color}" *ngFor="let contact of task.contacts.slice(0, 3)">
                {{ contact.initialLetter }}
            </p>
            <p *ngIf="task.contacts.length >= 4" class="moreAssignedContacts">+{{ task.contacts.length - 3}}</p>
        </div>
        <img src="../../../assets/icons/priority-{{ task.prio }}-icon.svg">
    </div>
</div>