@import '../../../scss/mixin.scss';
@import '../../../scss/variables.scss';


.containerTaskMiniView {
    @include hover();
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 3px #00000014;
    border-radius: 24px;
    padding: 20px;

    span {
        color: #A8A8A8;
        margin-top: -15px;
        word-break: break-all;
    }
}


.taskCategory {
    width: fit-content;
    margin: 0;
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    color: #ffffff;
}


.taskTitle {
    color: $mainColor;
    margin: 0;
    font-weight: 700;
}


.footerTaskMiniView {
    display: flex;
    justify-content: space-between;
}


.containerAssignedContacts {
    display: flex;
    padding-left: 8px;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin: 0 0px 0 -10px;
        color: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 50%;
    }
}


.moreAssignedContacts {
    background-color: black;
    border: 2px solid #ffffff;
}