<header>
    <p>Kanban Project Management Tool</p>

    <!------------------- Only in displayed in mobile View ------------------->
    <img class="joinLogo d-none" src="./assets/img/favicon-blue.svg">
    <!------------------- Only in displayed in mobile View ------------------->

    <div *ngIf="router.url == '/summary' ||
     router.url == '/description' || 
     router.url == '/addTask' || 
     router.url == '/board' || 
     router.url == '/contacts'" class="containerLoggedInUser">

        <img *ngIf="router.url !== '/description'" routerLink="/description"
            src="./assets/icons/question-mark-icon.svg">

        <p [matMenuTriggerFor]="menu">
            {{ authService.auth.currentUser?.displayName?.charAt(0)?.toLocaleUpperCase() }}
            <img *ngIf="!authService.auth.currentUser" src="./assets/icons/spinner.svg">
        </p>

    </div>
    <mat-menu #menu="matMenu">
        <p routerLink="/summary/legal-notice">Legal Notice</p>
        <p routerLink="/summary/privacy-policy">Privacy Policy</p>
        <p (click)="logout()">Log out</p>
    </mat-menu>
</header>