<header>
    <p>Kanban Project Management Tool</p>
    <div *ngIf="router.url == '/summary'" class="containerLoggedInUser">
        <img src="../../../assets/icons/question-mark-icon.svg">
        <p [matMenuTriggerFor]="menu">
            {{ authService.currentUser ? authService.currentUser.charAt(0).toUpperCase() :
            authService.guest.charAt(0).toUpperCase() }}
        </p>
    </div>

    <mat-menu #menu="matMenu">
        <p routerLink="/summary/legal-notice">Legal Notice</p>
        <p routerLink="/summary/privacy-policy">Privacy Policy</p>
        <p (click)="logout()">Log out</p>
    </mat-menu>
</header>