<app-header></app-header>

<main>
    <app-sidebar></app-sidebar>

    <app-dialog-add-task *ngIf="openDialogService.dialogAddTaskIsOpen"></app-dialog-add-task>

    <div class="containerBoard">
        <div class="containerBoardHeadline">
            <h1>Board</h1>

            <div class="containerInputFieldAndBtn">
                <input #inputFindTask type="text" placeholder="Find Task">
                <div (click)="focusInput()" class="containerImgMagnifyingGlass">
                    <img src="../../../assets/icons/magnifying-glass-icon.svg">
                </div>

                <hr>
                <button (click)="openDialogAddTask()" type="button">
                    Add task
                    <img src="../../../assets/icons/plus-icon-white.svg">
                </button>
            </div>
        </div>


        <div class="mainContainerColumns">

            <!-------------------------- Column To do -------------------------->
            <div class="containerSingleColumn">
                <div class="containerColumnHeadline">
                    <p>To do</p>
                    <img (click)="openDialogAddTask()" src="../../../assets/icons/plus-icon-blue.svg">
                </div>
                <div class="column">
                    <!-------------------------- Task Card mini View -------------------------->
                    <div *ngFor="let task of createTaskService.taskData | async" class="containerTaskMiniView">
                        <p class="taskCategory" [ngStyle]="{'background-color': task.categoryColor}">
                            {{ task.categoryName }}
                        </p>

                        <p class="taskTitle">{{ task.title }}</p>

                        <span>{{ task.description ? task.description : 'No Taskdescription exist'}}</span>

                        <div class=" footerTaskMiniView">
                            <div class="containerAssignedContacts">
                                <p [ngStyle]="{'background-color': assignContactInTask.color}"
                                    *ngFor="let assignContactInTask of task.contacts">
                                    {{ assignContactInTask.initialLetter }}
                                </p>
                            </div>
                            <img *ngIf="task.prio == 'low'" src="../../../assets/icons/priority-low-icon.svg">
                            <img *ngIf="task.prio == 'medium'" src="../../../assets/icons/priority-medium-icon.svg">
                            <img *ngIf="task.prio == 'urgent'" src="../../../assets/icons/priority-urgent-icon.svg">
                        </div>
                    </div>
                    <!-------------------------- Task Card mini View -------------------------->
                </div>
            </div>
            <!-------------------------- Column To do -------------------------->

            <!-------------------------- Column In progress -------------------------->
            <div class="containerSingleColumn">
                <div class="containerColumnHeadline">
                    <p>In progress</p>
                    <img (click)="openDialogAddTask()" src="../../../assets/icons/plus-icon-blue.svg">
                </div>
                <div class="column">

                </div>
            </div>
            <!-------------------------- Column In progress -------------------------->

            <!-------------------------- Column Awaiting feedback -------------------------->
            <div class="containerSingleColumn">
                <div class="containerColumnHeadline">
                    <p>Awaiting feedback</p>
                    <img (click)="openDialogAddTask()" src="../../../assets/icons/plus-icon-blue.svg">
                </div>
                <div class="column">

                </div>
            </div>
            <!-------------------------- Column Awaiting feedback -------------------------->

            <!-------------------------- Column Done -------------------------->
            <div class="containerSingleColumn">
                <div class="containerColumnHeadline">
                    <p>Done</p>
                </div>
                <div class="column">

                </div>
            </div>
            <!-------------------------- Column Done -------------------------->
        </div>
    </div>
</main>