<app-header></app-header>

<main>
    <app-sidebar></app-sidebar>

    <div class="containerBoard">
        <div class="containerBoardHeadline">
            <h1>Board</h1>

            <div class="containerInputFieldAndBtn">
                <input type="text" placeholder="Find Task">
                <div class="containerImgMagnifyingGlass">
                    <img src="../../../assets/icons/magnifying-glass-icon.svg">
                </div>

                <hr>
                <button type="button">
                    Add task
                    <img src="../../../assets/icons/plus-icon-white.svg">
                </button>
            </div>
        </div>

        <table>
            <tr>
                <th>
                    To do
                    <img src="../../../assets/icons/plus-icon-blue.svg">
                </th>
            </tr>

            <tr>
                <th>
                    In progress
                    <img src="../../../assets/icons/plus-icon-blue.svg">
                </th>
            </tr>

            <tr>
                <th>
                    Awaiting feedback
                    <img src="../../../assets/icons/plus-icon-blue.svg">
                </th>
            </tr>

            <tr>
                <th>
                    Done
                    <img src="../../../assets/icons/plus-icon-blue.svg">
                </th>
            </tr>
        </table>
    </div>
</main>