@import '../../../scss/mixin.scss';
@import '../../../scss/variables.scss';


main {
    background-color: $mainBgColor;
    display: flex;
    align-items: center;
}


.containerBoard {
    width: 87%;
    height: 100vh;
    padding: 0 30px 0 30px;
    overflow-y: scroll;
}


.containerBoardHeadline {
    @include flexCenteredYAxis();
    justify-content: space-between;
    margin: 100px 0 20px 0;

    h1 {
        @include headline();
        margin: 0;
    }
}


.containerInputFieldAndBtn {
    @include flexCenteredYAxis();
    gap: 32px;
    position: relative;

    input {
        @include inputFieldDefault();
        @include inputFieldFocus();
        padding: 0px 70px 0 10px;
        outline: none;
    }

    hr {
        width: 1px;
        height: 25px;
        position: absolute;
        right: 230px;
        border: unset;
        background-color: #D1D1D1;
    }

    button {
        @include btnPrimary();
        @include btnPrimaryHover();
        @include hover();
        @include flexCenteredYAxis();
        gap: 4px;
        font-size: 20px;
        font-weight: 700;
        padding: 8px 16px 8px 16px;
        border-radius: 10px;

        img {
            width: 15px;
        }
    }
}


.containerImgMagnifyingGlass {
    @include hover();
    padding: 6px;
    display: flex;
    position: absolute;
    top: 5px;
    right: 188px;

    &:hover {
        @include iconHover();
    }
}


.mainContainerColumns {
    display: flex;
    gap: 26px;
}


.containerSingleColumn {
    width: 25%;
}


.containerColumnHeadline {
    @include flexCenteredYAxis();
    justify-content: space-between;

    p {
        color: #42526E;
        font-weight: 700;
        font-size: 20px;
    }

    img {
        @include hover();
        border: 2px solid #2A3647;
        border-radius: 8px;
        padding: 5px;

        &:hover {
            border: 2px solid #29ABE2;
            filter: brightness(0) saturate(100%) invert(59%) sepia(63%) saturate(1455%) hue-rotate(165deg) brightness(92%) contrast(92%);
        }
    }
}


.column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}




.containerTaskMiniView {
    @include hover();
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 3px #00000014;
    border-radius: 24px;
    padding: 20px;

    span {
        color: #A8A8A8;
        margin-top: -15px;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        // overflow: hidden;
    }
}


.taskCategory {
    width: fit-content;
    margin: 0;
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    background-color: #0038FF;
    color: #ffffff;
}


.taskTitle {
    color: $mainColor;
    margin: 0;
    font-weight: 700;
}


.footerTaskMiniView {
    display: flex;
    justify-content: space-between;
}


.containerAssignedContacts {
    display: flex;
    padding-left: 8px;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin: 0 0px 0 -10px;
        background-color: #FF7A00;
        color: #ffffff;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
    }
}