<app-header></app-header>

<main>
    <app-sidebar></app-sidebar>

    <div class="containerBoard">
        <div class="containerBoardHeadline">
            <h1>Board</h1>

            <div class="containerInputFieldAndBtn">
                <input type="text" placeholder="Find Task">
                <div class="containerImgMagnifyingGlass">
                    <img src="../../../assets/icons/magnifying-glass-icon.svg">
                </div>

                <hr>
                <button type="button">
                    Add task
                    <img src="../../../assets/icons/plus-icon-white.svg">
                </button>
            </div>
        </div>


        <div class="mainContainerColumns">
            <div class="containerSingleColumn">
                <div class="containerColumnHeadline">
                    <p>To do</p>
                    <img src="../../../assets/icons/plus-icon-blue.svg">
                </div>
                <div class="column">

                </div>
            </div>

            <div class="containerSingleColumn">
                <div class="containerColumnHeadline">
                    <p>In progress</p>
                    <img src="../../../assets/icons/plus-icon-blue.svg">
                </div>
                <div class="column">

                </div>
            </div>

            <div class="containerSingleColumn">
                <div class="containerColumnHeadline">
                    <p>Awaiting feedback</p>
                    <img src="../../../assets/icons/plus-icon-blue.svg">
                </div>
                <div class="column">

                </div>
            </div>

            <div class="containerSingleColumn">
                <div class="containerColumnHeadline">
                    <p>Done</p>
                    <img src="../../../assets/icons/plus-icon-blue.svg">
                </div>
                <div class="column">

                </div>
            </div>
        </div>
    </div>
</main>