@import '../../../scss/mixin.scss';
@import '../../../scss/variables.scss';


main {
    background-color: $mainBgColor;
    display: flex;
}


.containerPrivacyPolicy {
    padding: 120px 50px 50px 50px;

    h1 {
        @include headline();
        margin: 0;
    }

    img {
        position: fixed;
        top: 140px;
        right: 10px;
        padding: 8px;

        &:hover {
            @include iconHover();
        }
    }

    h2 {
        font-size: 27px;
        font-weight: 700;
    }

    a {
        text-decoration: none;
        color: #29ABE2;

        &:hover {
            @include hover();
            border-bottom: 2px solid #29ABE2;
        }
    }
}


.source {
    margin: 0;
}