<div class="containerContactListDetailViewLowerPart">
    <!--------------------- Only displayed if Contacts are Loading --------------------->
    <img *ngIf="createNewContactService.loadigContacts" class="spinnerIcon" src="../../../assets/icons/spinner.svg">
    <!--------------------- Only displayed if Contacts are Loading --------------------->


    <div *ngIf="!createNewContactService.loadigContacts" class="containerContactListDetailViewInitialLetterAndFullName">
        <p class="contactDetailViewInitiaLetter"
            [ngStyle]="{'background-color': createNewContactService.contact.color}">
            {{ createNewContactService.contact.initialLetter }}
        </p>

        <div class="containerContactListDetailViewFullName">
            <p class="contactDetailViewFullName">{{ createNewContactService.contact.name }}</p>

            <div class="mainContainerIconsAndText">
                <div (click)="openDialogEditContact(createNewContactService.contact)"
                    class="childContainerIconsAndText">
                    <img class="pencilIcon" src="../../../assets/icons/pencil-icon-blue.svg">
                    <p>Edit</p>
                </div>

                <div (click)="deleteContact()" class="childContainerIconsAndText">
                    <img src="../../../assets/icons/trash-icon.svg">
                    <p>Delete</p>
                </div>
            </div>
        </div>
    </div>

    <p *ngIf="!createNewContactService.loadigContacts" class="contactInfos">Contact Information</p>

    <div *ngIf="!createNewContactService.loadigContacts" class="containerContactDetailViewEmailAndPhone">
        <p>Email</p>
        <a href="mailto:{{ createNewContactService.contact.email }}">{{ createNewContactService.contact.email }}</a>

        <p>Phone</p>
        <a href="tel:{{ createNewContactService.contact.phoneNumber }}">
            {{ createNewContactService.contact.phoneNumber }}
        </a>
    </div>
</div>