<div (click)="closeDialogIfClickedOutside()" class="overlayDialog">
    <div class="dialog" (click)="stopPropagation($event)" [ngClass]="{'slideIn': openDialogService.dialogCreateNewContactIsOpen, 
        'slideOut': !openDialogService.dialogCreateNewContactIsOpen}">

        <div class="dialogLeftContainer">
            <img src="./assets/img/favicon-white.svg">

            <div class="containerTextAndBlueLine">
                <h1>Add contact</h1>
                <p>Tasks are better with a team!</p>
                <hr>
            </div>
        </div>

        <div class="dialogRightContainer">
            <div (click)="closeDialogCreateNewContact()" class="containerCloseIcon">
                <img src="./assets/icons/close-icon.svg">
            </div>

            <div class="containerImgAndForm">
                <img class="userImg" src="./assets/icons/contact-icon-white.svg">

                <form [formGroup]="createContactForm" (submit)="createNewContact()">
                    <!------------------------ Validate Inputfield Name ------------------------>
                    <input [ngClass]="{'errorInputfield': createContactForm.controls.name.touched && 
                    createContactForm.controls.name.errors?.['required'] || 
                    createContactForm.controls.name.errors?.['minlength'] ||
                    createContactForm.controls.name.errors?.['maxlength']}" formControlName="name" class="inputName"
                        type="text" placeholder="Name">

                    <p *ngIf="createContactForm.controls.name.touched && createContactForm.controls.name.errors?.['required']"
                        class="errorMessage">
                        Name is required
                    </p>

                    <p *ngIf="createContactForm.controls.name.errors?.['minlength']" class="errorMessage">
                        Name must minium 3 characters long
                    </p>

                    <p *ngIf="createContactForm.controls.name.errors?.['maxlength']" class="errorMessage">
                        Name can only 10 maximum characters long
                    </p>
                    <!------------------------ Validate Inputfield Name ------------------------>

                    <!------------------------ Validate Inputfield Email ------------------------>
                    <input [ngClass]="{'errorInputfield': createContactForm.controls.email.touched && 
                    createContactForm.controls.email.errors?.['required'] || 
                    createContactForm.controls.email.errors?.['pattern']}" formControlName="email" class="inputEmail"
                        type="email" placeholder="Email">

                    <p *ngIf="createContactForm.controls.email.touched && createContactForm.controls.email.errors?.['required']"
                        class="errorMessage">
                        Email is required
                    </p>

                    <p *ngIf="createContactForm.controls.email.errors?.['pattern']" class="errorMessage">
                        Please enter a Valid Email
                    </p>
                    <!------------------------ Validate Inputfield Email ------------------------>

                    <!------------------------ Validate Inputfield Phone Number ------------------------>
                    <input [ngClass]="{'errorInputfield': createContactForm.controls.phoneNumber.touched && 
                        createContactForm.controls.phoneNumber.errors?.['required'] ||
                         createContactForm.controls.phoneNumber.errors?.['pattern']}" formControlName="phoneNumber"
                        class="inputPhoneNumber" type="tel" placeholder="Phone">

                    <p class="errorMessage" *ngIf="createContactForm.controls.phoneNumber.touched &&
                        createContactForm.controls.phoneNumber.errors?.['required']">
                        Phone Number is required
                    </p>

                    <p class="errorMessage" *ngIf="createContactForm.controls.phoneNumber.errors?.['maxlength']">
                        Phone Number can only 15 maximum characters long
                    </p>

                    <p class="errorMessage" *ngIf="createContactForm.controls.phoneNumber.errors?.['pattern']">
                        Please enter a Valid Phone Number
                    </p>
                    <!------------------------ Validate Inputfield Phone Number ------------------------>

                    <div class="containerBtn">
                        <button (click)="closeDialogCreateNewContact()" class="cancelBtn" type="button">
                            Cancel
                            <img src="./assets/icons/close-icon.svg">
                        </button>
                        <button [disabled]="createContactForm.invalid"
                            [ngClass]="{'btnDisabled': createContactForm.invalid}" class="createContactBtn"
                            type="submit">
                            Create Contact
                            <img src="./assets/icons/check-icon-white.svg">
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>