<main>
    <app-overlay></app-overlay>


    <header>
        <img class="joinLogo" src="../assets/img/favicon-blue.svg">
        <div class="containerSignUpTextAndBtn">
            <p>Not a Join user?</p>
            <button routerLink="/signup" type="button">Sign up</button>
        </div>
    </header>


    <div class="parentContainerLogIn">
        <div class="childContainerLogIn">
            <h1>Log in</h1>
            <hr>

            <form [formGroup]="logInForm" (submit)="onSubmitForm(logInForm.value)" id="logInForm">
                <!------------------------ Validate Inputfield Email ------------------------>
                <input class="inputEmail" [ngClass]="{'errorInputfield': logInForm.controls.email.touched &&
                     logInForm.controls.email.errors?.['required']}" formControlName="email" placeholder="Email"
                    type="email">


                <p *ngIf="logInForm.controls.email.touched && logInForm.controls.email.errors?.['required']"
                    class="errorMessage">
                    Email is required
                </p>
                <!------------------------ Validate Inputfield Email ------------------------>


                <!------------------------ Validate Inputfield Password ------------------------>
                <input class="inputPassword" [ngClass]="{'errorInputfield': logInForm.controls.password.touched &&
                logInForm.controls.password.errors?.['required']}" formControlName="password" placeholder="Password"
                    type="password">

                <p *ngIf="logInForm.controls.password.touched && logInForm.controls.password.errors?.['required']"
                    class="errorMessage">
                    Password is required
                </p>
                <!------------------------ Validate Inputfield Password ------------------------>

                <div class="containerRememberMeAndForgotMyPasswordText">
                    <label for="rememberMe" form="logInForm">
                        <input class="checkbox" id="rememberMe" type="checkbox">
                        Remember me
                    </label>

                    <p routerLink="/forgotMyPassword">Forgot my Password</p>
                </div>

                <div class="btnContainer">
                    <button [ngClass]="{'btnDisabled': logInForm.invalid}" [disabled]="logInForm.invalid"
                        class="btnLogIn" type="submit">
                        Log in
                    </button>

                    <button class="btnGuestLogIn" type="button" (click)="guestLogin()">Guest Log in</button>
                </div>
            </form>
        </div>
    </div>

    <app-footer></app-footer>
</main>