@import '../../../scss/mixin.scss';
@import '../../../scss/variables.scss';


main {
    background-color: $mainBgColor;
    min-height: 100svh;
}


header {
    @include flexSpaceBetween();
    padding: 30px 40px 0px 40px;
}


.joinLogo {
    width: 70px;
}


.containerSignUpTextAndBtn {
    @include flexCenteredYAxis();
    gap: 35px;
    margin-top: -40px;

    p {
        font-size: 20px;
        font-weight: 400;
    }

    button {
        @include btnPrimary();
        @include btnPrimaryHover();
        border-radius: 8px;
        padding: 15px 16px 15px 16px;
        font-size: 16px;
        font-weight: 700;
    }
}


.parentContainerLogIn {
    @include flexCenteredXAxis();
    margin-top: 30px;
}


.childContainerLogIn {
    @include flexCenteredColumnXAxis();
    gap: 25px;
    padding: 28px 50px 28px 50px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 14px 3px #0000000A;

    h1 {
        @include headline();
        margin: 0px 0px -10px 0;
    }

    hr {
        width: 150px;
        height: 3px;
        border-radius: 3px;
        border: unset;
        margin: 0;
        background-color: $blueLineColor;
    }
}


form {
    @include flexCenteredColumnXAxis();
    gap: 25px;

    input {
        @include inputFieldDefault();
        @include inputFieldFocus();
        outline: none;
    }

    label {
        @include hover();
        display: flex;
        gap: 8px;
    }
}


.inputEmail {
    background-image: url('../../../assets/icons/mail-icon.svg');
    background-repeat: no-repeat;
    background-position: 420px;
}


.inputPassword {
    background-image: url('../../../assets/icons/lock-icon.svg');
    background-repeat: no-repeat;
    background-position: 423px;
}


.checkbox {
    @include hover();
    width: unset !important;
    height: unset !important;
}


.containerRememberMeAndForgotMyPasswordText {
    @include flexCenteredYAxis();
    gap: 100px;
    margin-top: -10px;

    p {
        color: #29ABE2;

        &:hover {
            @include hover();
            border-bottom: 2px solid #29ABE2;
        }
    }
}


.btnContainer {
    display: flex;
    gap: 35px;
}


.btnLogIn {
    @include btnPrimary();
    @include btnPrimaryHover();
    @include hover();
    border-radius: 8px;
    padding: 15px 24px 15px 24px;
    font-size: 20px;
    font-weight: 700;
}


.btnGuestLogIn {
    @include btnSecondary();
    @include btnSecondaryHover();
    @include hover();
    border-radius: 8px;
    padding: 15px 24px 15px 24px;
    font-size: 21px;
    font-weight: 700;
}