<app-header></app-header>

<main>
    <!------------------------------ Displayed the Overlay if one or both of the Dropdown Menus are open ------------------------------>
    <div (click)="closeDropdownIfClickOutSide()"
        [ngClass]="{'overlay': dropdownMenuAssignedToIsOpen || dropdownMenuCategoryIsOpen}">
    </div>
    <!------------------------------ Displayed the Overlay if one or both of the Dropdown Menus are open ------------------------------>

    <app-sidebar></app-sidebar>

    <div class="containerAddTask">
        <h1>Add Task</h1>
        <form (submit)="createTask()" [formGroup]="addTaskForm" id="addTaskForm">
            <div class="containerFormLeftSide">
                <!------------------------------ Inputfield Title ------------------------------>
                <label for="inputTitle" form="addTaskForm">
                    Title
                    <mark>*</mark>
                </label>
                <input [ngClass]="{'errorInputfield': addTaskForm.controls.title.touched && 
                    addTaskForm.controls.title.errors?.['required'] || 
                    addTaskForm.controls.title.errors?.['maxlength']}" formControlName="title" id="inputTitle"
                    type="text" placeholder="Enter a title">

                <p *ngIf="addTaskForm.controls.title.touched && addTaskForm.controls.title.errors?.['required']"
                    class="errorMessage" style="margin-top: -20px;">
                    Title is required
                </p>

                <p *ngIf="addTaskForm.controls.title.errors?.['maxlength']" class="errorMessage"
                    style="margin-top: -20px;">
                    Title can only 10 maximum characters long
                </p>
                <!------------------------------ Inputfield Title ------------------------------>


                <!------------------------------ Inputfield Description ------------------------------>
                <label for="textareaDescription" form="addTaskForm">Description</label>
                <textarea [ngClass]="{'errorInputfield': addTaskForm.controls.description.errors?.['maxlength']}"
                    formControlName="description" id="textareaDescription" placeholder="Enter a description"></textarea>

                <p *ngIf="addTaskForm.controls.description.errors?.['maxlength']" class="errorMessage"
                    style="margin-top: -20px;">
                    Description can only 150 maximum characters long
                </p>
                <!------------------------------ Inputfield Description ------------------------------>

                <!------------------------------ Dropdown Menu Assign Contacts ------------------------------>
                <label form="addTaskForm">
                    Assigned to
                    <mark>*</mark>
                </label>
                <div (click)="openDropdownMenuAssignContacts()"
                    [ngClass]="{'activeDropdownMenu': dropdownMenuAssignedToIsOpen}" class="dropdownMenuBox">

                    <p *ngIf="selectedContacts.length == 0">Select Contacts to assign</p>
                    <p *ngIf="selectedContacts.length > 0">{{ selectedContacts.length }} Contact(s) selected</p>

                    <img [ngClass]="{'rotateArrowIconInDropdownMenu': dropdownMenuAssignedToIsOpen}"
                        src="../../../assets/icons/arrow-drop-down-icon.svg">
                </div>

                <!------------------------------ Only Displayed if Contacts selected from Dropdown Menu ------------------------------>
                <div *ngIf="selectedContacts.length > 0" class="containerSelectedContacts">
                    <p matTooltipShowDelay="400" matTooltipPosition="above" matTooltip="{{ contact.name }}"
                        *ngFor="let contact of selectedContacts.slice(0, 7)"
                        [ngStyle]="{'background-color': contact.color}">
                        {{ contact.initialLetter }}
                    </p>
                    <!------------------------------ Only Displayed if more than 7 Contacts selected from Dropdown Menu ------------------------------>
                    <p *ngIf="selectedContacts.length >= 8" class="moreSelectedContacts" matTooltipShowDelay="400"
                        matTooltipPosition="above"
                        matTooltip="{{ selectedContacts.length - 7 }} more Contact(s) selected">
                        +{{ selectedContacts.length - 7 }}
                    </p>
                    <!------------------------------ Only Displayed if more than 7 Contacts selected from Dropdown Menu ------------------------------>
                </div>
                <!------------------------------ Only Displayed if Contacts selected from Dropdown Menu ------------------------------>

                <div class="containerAssigContactsList">
                    <ul [ngClass]="{'d-none': !dropdownMenuAssignedToIsOpen}" class="dropdownMenuAssignContacts">
                        <li *ngFor="let contact of createNewContactService.contactData | async"
                            (click)="selectContact(contact)"
                            [ngClass]="{'activeSelectedContactInDropdownMenu': contactIsSelected(contact)}">

                            <div class="containerContactInitialLetterAndFullName">
                                <span [ngStyle]="{'background-color': contact.color}">
                                    {{ contact.initialLetter }}
                                </span>
                                <p>{{ contact.name }}</p>
                            </div>
                            <input [checked]="contactIsSelected(contact)" type="checkbox">
                        </li>
                    </ul>
                </div>
                <!------------------------------ Dropdown Menu Assign Contacts ------------------------------>

                <p class="thisFieldIsRequiredText">
                    <mark>*</mark>
                    This field is required
                </p>
            </div>

            <hr>

            <div class="containerFormRightSide">
                <!------------------------------ Inputfield Due Date ------------------------------>
                <label for="inputCalendar" form="addTaskForm">
                    Due Date
                    <mark>*</mark>
                </label>
                <input formControlName="dueDate" id="inputCalendar" type="date">
                <!------------------------------ Inputfield Due Date ------------------------------>

                <label form="addTaskForm">
                    Prio
                    <mark>*</mark>
                </label>
                <!------------------------------ Prio Buttons ------------------------------>
                <div class="containerPrioBtns">
                    <button formControlName="prio" ngDefaultControl
                        [ngClass]="{'btnUrgentPrio': activePrioBtn == 'urgent'}" (click)="selectPrio('urgent')"
                        type="button">
                        Urgent
                        <img src="../../../assets/icons/priority-urgent-icon.svg">
                    </button>

                    <button formControlName="prio" ngDefaultControl
                        [ngClass]="{'btnMediumPrio': activePrioBtn == 'medium'}" (click)="selectPrio('medium')"
                        type="button">
                        Medium
                        <img src="../../../assets/icons/priority-medium-icon.svg">
                    </button>

                    <button formControlName="prio" ngDefaultControl [ngClass]="{'btnLowPrio': activePrioBtn == 'low'}"
                        (click)="selectPrio('low')" type="button">
                        Low
                        <img src="../../../assets/icons/priority-low-icon.svg">
                    </button>
                </div>
                <!------------------------------ Prio Buttons ------------------------------>

                <!------------------------------ Dropdown Menu Category ------------------------------>
                <label form="addTaskForm">
                    Category
                    <mark>*</mark>
                </label>
                <div (click)="openDropdownMenuCategory()" [ngClass]="{'activeDropdownMenu': dropdownMenuCategoryIsOpen}"
                    class="dropdownMenuBox">
                    <p>
                        {{ selectedCategoryName ? selectedCategoryName : 'Select task category'}}
                        <i [ngStyle]="{'background-color': selectedCategoryColor}"></i>
                    </p>

                    <img [ngClass]="{'rotateArrowIconInDropdownMenu': dropdownMenuCategoryIsOpen}"
                        src="../../../assets/icons/arrow-drop-down-icon.svg">
                </div>

                <ul [ngClass]="{'d-none': !dropdownMenuCategoryIsOpen}" class="dropdownMenuCategory">
                    <li *ngFor="let category of categorys" (click)="selectCategory(category)">
                        <p formControlName="categoryName" ngDefaultControl>{{ category.categoryName }}</p>

                        <i formControlName="categoryColor" ngDefaultControl
                            [ngStyle]="{'background-color': category.categoryColor}">
                        </i>
                    </li>
                </ul>
                <!------------------------------ Dropdown Menu Category ------------------------------>

                <div class="containerBtnsClearFormAndAddTask">
                    <button (click)="clearForm()" class="btnClearForm" type="reset">
                        Clear
                        <img src="../../../assets/icons/close-icon.svg">
                    </button>
                    <button [disabled]="addTaskForm.invalid || 
                        selectedContacts.length == 0 || 
                        activePrioBtn == '' || 
                        selectedCategoryName == '' || 
                        selectedCategoryColor == '' " [ngClass]="{'btnDisabled': addTaskForm.invalid || 
                        selectedContacts.length == 0 ||
                        activePrioBtn == '' || 
                        selectedCategoryName == '' || 
                        selectedCategoryColor == ''}" class="btnCreateTask" type="submit">
                        Create Task
                        <img src="../../../assets/icons/check-icon-white.svg">
                    </button>
                </div>
            </div>
        </form>

        <!------------------------------ User Feedback if Task successfully created ------------------------------>
        <div *ngIf="createTaskService.taskSuccessfullyCreated"
            [ngClass]="{'slideInUp': createTaskService.taskSuccessfullyCreated}" class="containerUserFeedbackTaskAdded">
            <p>Task added to board</p>
            <img src="../../../assets/icons/navbar-board-icon.svg">
        </div>
        <!------------------------------ User Feedback if Task successfully created ------------------------------>
    </div>
</main>