<app-header></app-header>

<main>
    <div (click)="closeDropdownIfClickOutSide()"
        [ngClass]="{'overlay': dropdownMenuAssignedToIsOpen || dropdownMenuCategoryIsOpen}"></div>

    <app-sidebar></app-sidebar>

    <div class="containerAddTask">
        <h1>Add Task</h1>
        <form id="addTaskForm">
            <div class="containerFormLeftSide">
                <label for="inputTitle" form="addTaskForm">
                    Title
                    <mark>*</mark>
                </label>
                <input id="inputTitle" type="text" placeholder="Enter a title">

                <label for="textareaDescription" form="addTaskForm">Description</label>
                <textarea id="textareaDescription" placeholder="Enter a description"></textarea>


                <label form="addTaskForm">
                    Assigned to
                    <mark>*</mark>
                </label>
                <div (click)="openDropdownMenuAssignedTo()"
                    [ngClass]="{'activeDropdownMenu': dropdownMenuAssignedToIsOpen}" class="dropdownMenuBox">
                    <p *ngIf="!dropdownMenuAssignedToIsOpen">Select Contacts to assign</p>
                    <img [ngClass]="{'rotateArrowIcon': dropdownMenuAssignedToIsOpen}"
                        src="../../../assets/icons/arrow-drop-down-icon.svg">
                </div>

                <ul *ngIf="dropdownMenuAssignedToIsOpen" class="dropdownMenuAssignedTo">
                    <li [ngClass]="{'activeSelectedContact': contactIsSelected}" (click)="selectContact()">
                        <img src="../../../assets/icons/arrow-drop-down-icon.svg">
                        <p>asdhisaudhb</p>
                        <input [checked]="contactIsSelected" type="checkbox">
                    </li>
                    <li [ngClass]="{'activeSelectedContact': contactIsSelected}" (click)="selectContact()">
                        <img src="../../../assets/icons/arrow-drop-down-icon.svg">
                        <p>asdhisaudhb</p>
                        <input [checked]="contactIsSelected" type="checkbox">
                    </li>
                    <li [ngClass]="{'activeSelectedContact': contactIsSelected}" (click)="selectContact()">
                        <img src="../../../assets/icons/arrow-drop-down-icon.svg">
                        <p>asdhisaudhb</p>
                        <input [checked]="contactIsSelected" type="checkbox">
                    </li>
                </ul>
            </div>

            <hr>

            <div class="containerFormRightSide">
                <label for="inputCalendar" form="addTaskForm">
                    Due Date
                    <mark>*</mark>
                </label>
                <input id="inputCalendar" type="date">

                <label form="addTaskForm">
                    Prio
                    <mark>*</mark>
                </label>
                <div class="containerPrioBtns">
                    <button [ngClass]="{'btnUrgentPrio': currentSelectedPrio == 'Urgent'}"
                        (click)="selectPrio('Urgent')" type="button">
                        Urgent
                        <img src="../../../assets/icons/priority-urgent-icon.svg">
                    </button>

                    <button [ngClass]="{'btnMediumPrio': currentSelectedPrio == 'Medium'}"
                        (click)="selectPrio('Medium')" type="button">
                        Medium
                        <img src="../../../assets/icons/priority-medium-icon.svg">
                    </button>

                    <button [ngClass]="{'btnLowPrio': currentSelectedPrio == 'Low'}" (click)="selectPrio('Low')"
                        type="button">
                        Low
                        <img src="../../../assets/icons/priority-low-icon.svg">
                    </button>
                </div>

                <label form="addTaskForm">
                    Category
                    <mark>*</mark>
                </label>
                <div (click)="openDropdownMenuCategory()" [ngClass]="{'activeDropdownMenu': dropdownMenuCategoryIsOpen}"
                    class="dropdownMenuBox">
                    <p>Select task category</p>
                    <img [ngClass]="{'rotateArrowIcon': dropdownMenuCategoryIsOpen}"
                        src="../../../assets/icons/arrow-drop-down-icon.svg">
                </div>

                <ul *ngIf="dropdownMenuCategoryIsOpen" class="dropdownMenuCategory">
                    <li>
                        <p>asdhisaudhb</p>
                    </li>
                    <li>
                        <p>asdhisaudhb</p>
                    </li>
                    <li>
                        <p>asdhisaudhb</p>
                    </li>
                </ul>
            </div>
        </form>

        <footer>
            <p>
                <mark>*</mark>
                This field is required
            </p>

            <div>
                <button class="btnClearForm" type="reset">
                    Clear
                    <img src="../../../assets/icons/close-icon.svg">
                </button>
                <button class="btnCreateTask" type="submit">
                    Create Task
                    <img src="../../../assets/icons/check-icon-white.svg">
                </button>
            </div>
        </footer>
    </div>
</main>