////////////////// Width
@media screen and (min-width: 1600px) {
    ul {
        li {
            font-size: 18px;
        }
    }
}


@media screen and (max-width: 650px) {
    nav {
        display: none;
    }
}


////////////////// Height
@media screen and (max-height: 600px) {
    nav {
        display: none;
    }
}