@import '../../../scss/mixin.scss';
@import '../../../scss/variables.scss';


.containerEditTask {
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 0px #00000029;
    border-radius: 30px;
    padding: 45px 45px 35px 45px;
}


.overlayForDropDownMenus {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: transparent;
}


.containerCloseIcon {
    position: absolute;
    top: 5px;
    right: 10px;

    img {
        padding: 8px;
        border-radius: 50%;

        &:hover {
            @include iconHover();
        }
    }
}


.containerForm {
    height: 580px;
    padding-right: 15px;
    overflow-y: scroll;
}


form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;

    label {
        margin-bottom: -15px;
        color: $mainColor;
        font-size: 20px;
    }

    input {
        @include inputFieldDefault();
        @include inputFieldFocus();
        outline: none;
    }

    textarea {
        @include inputFieldDefault();
        @include inputFieldFocus();
        height: 100px;
        padding: 10px 45px 10px 10px;
        outline: none;
        resize: none;
    }
}


.dropdownMenuCategory {
    width: 455px;
    height: 150px;
    position: absolute;
    top: 80px;
    z-index: 3;
    margin: 0;
    box-shadow: 0px 0px 14px 3px #0000000A;
    padding-left: 0;
    border-radius: 10px;
    background-color: #FFFFFF;
    list-style: none;
    overflow-y: scroll;

    li {
        @include hover();
        @include flexCenteredYAxis();
        @include flexSpaceBetween();
        padding: 7px 16px 7px 16px;
        border-radius: 10px;

        &:hover {
            background-color: #EEEEEE;
        }

        p {
            margin: 0;
            font-size: 20px;
        }

        i {
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
    }
}


.dropdownMenuBox {
    @include inputFieldDefault();
    @include flexCenteredYAxis();
    @include hover();
    z-index: 2;
    background-color: white;
    position: relative;

    p {
        @include flexCenteredYAxis();
        gap: 20px;
        margin: 0;

        i {
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
    }

    img {
        padding: 10px;
        position: absolute;
        right: 10px;
        z-index: 3;
        border-radius: 50%;
        transform: rotate(0deg);
        transition: all 225ms ease-in-out;

        &:hover {
            @include iconHover();
        }
    }
}


.containerSelectedContacts {
    position: absolute;
    top: 200px;
    display: flex;
    gap: 15px;

    p {
        @include flexCenteredMiddle();
        margin: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #ffffff;
        color: white;
    }
}


.moreSelectedContacts {
    background-color: black;
    border: 2px solid #ffffff;
}


.containerAssigContactsList {
    position: relative;
}


.dropdownMenuAssignContacts {
    width: 455px;
    height: 120px;
    position: absolute;
    bottom: -91px;
    z-index: 2;
    margin: 0;
    box-shadow: 0px 0px 14px 3px #0000000A;
    padding-left: 0;
    border-radius: 10px;
    background-color: #FFFFFF;
    list-style: none;
    overflow-y: scroll;

    li {
        @include hover();
        @include flexCenteredYAxis();
        @include flexSpaceBetween();
        padding: 7px 16px 7px 16px;
        border-radius: 10px;
        margin-bottom: 5px;

        input {
            width: 15px;
            @include hover();
        }

        &:hover {
            background-color: #EEEEEE;
        }
    }
}


.containerContactInitialLetterAndFullName {
    @include flexCenteredYAxis();
    gap: 15px;

    span {
        @include flexCenteredMiddle();
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: #ffffff;
        border: 2px solid #ffffff;
    }

    p {
        margin: 0;
        font-size: 20px;
    }
}


.noContactsExistingText {
    font-size: 20px;
    text-align: center;
}


.containerPrioBtns {
    display: flex;
    gap: 16px;

    button {
        @include hover();
        @include flexCenteredMiddle();
        @include btnPrio();
    }
}


.containerBtn {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    bottom: -1px;
    background-color: #ffffff;

    button {
        @include btnPrimary();
        @include btnPrimaryHover();
        @include flexCenteredYAxis();
        gap: 4px;
        font-size: 20px;
        font-weight: 700;
        border-radius: 10px;
        padding: 16px;

        img {
            width: 20px;
        }
    }
}


.popUpSuccessfully {
    @include popUp();
    background-color: $mainColor;
    position: absolute;
    bottom: 300px;
    right: 170px;
    transform: translateY(0);
}



// .containerUserFeedbackTaskAdded {
//     @include popUp();
//     @include flexCenteredYAxis();
//     background-color: $mainColor;
//     position: absolute;
//     bottom: 10px;
//     z-index: 3;
//     gap: 20px;
//     transform: unset;
// }


// .slideInUp {
//     animation: slideInUp 200ms ease-in-out !important;
//     animation-fill-mode: forwards !important;
// }


// @keyframes slideInUp {
//     from {
//         transform: translateY(0px);
//     }

//     to {
//         transform: translateY(-320px);
//     }
// }