<div (click)="closeDialogIfClickedOutside()" class="overlayForDialogTaskDetailView">

    <div (click)="stopPropagation($event)"
        [ngClass]="{'slideIn': openDialogService.dialogTaskDetailViewIsOpen, 'slideOut': !openDialogService.dialogTaskDetailViewIsOpen}"
        class="containerDialogTaskDetailView">

        <div class="containerHeaderDialogTaskDetailView">
            <p [ngStyle]="{'background-color': openDialogService.task.categoryColor}">
                {{ openDialogService.task.categoryName }}
            </p>
            <div (click)="closeTaskDetailView()" class="containerCloseIcon">
                <img src="../../../assets/icons/close-icon.svg">
            </div>
        </div>


        <h1>{{ openDialogService.task.title }}</h1>


        <span>
            {{ openDialogService.task.description ? openDialogService.task.description : 'No Taskdescription exist'}}
        </span>


        <div class="containerDueDate">
            <p class="dueDateText">Due Date:</p>
            <p class="dueDate">{{ openDialogService.task.dueDate | date: 'dd/MM/yyyy' }}</p>
        </div>


        <div class="containerPrio">
            <p class="prioText">Priority:</p>
            <div class="containerPrioLevelAndImg">
                <p class="prio">{{ openDialogService.task.prio }}</p>
                <img src="../../../assets/icons/priority-{{ openDialogService.task.prio }}-icon.svg">
            </div>
        </div>


        <div class="containerAssignedTo">
            <p class="assignToText">Assigned To:</p>
            <ul>
                <li *ngFor="let contact of openDialogService.task.contacts">
                    <p [ngStyle]="{'background-color': contact.color}" class="contactInitialLetter">
                        {{ contact.initialLetter }}
                    </p>
                    <p class="contactFullName">{{ contact.name }}</p>
                </li>
            </ul>
        </div>


        <div class="containerFooterDialogTaskDetailView">
            <div (click)="deleteTask()" class="containerIconAndText">
                <img src="../../../assets/icons/trash-icon.svg">
                <p>Delete</p>
            </div>

            <hr>

            <div (click)="editTask(openDialogService.task)" class="containerIconAndText">
                <img class="pencilIcon" src="../../../assets/icons/pencil-icon-blue.svg">
                <p>Edit</p>
            </div>
        </div>

        <app-dialog-edit-task (click)="stopPropagation($event)" *ngIf="openDialogService.dialogEditTaskIsOpen">

        </app-dialog-edit-task>
    </div>
</div>