<div class="overlayForDialogTaskDetailView">

    <div class="containerDialogTaskDetailView">

        <div class="containerHeaderDialogTaskDetailView">
            <p>Test</p>
            <div class="containerCloseIcon">
                <img src="../../../assets/icons/close-icon.svg">
            </div>
        </div>

        <h1>Test</h1>

        <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat a officia, ea autem aut explicabo architecto
            voluptas assumenda delectus animi maiores, repellendus suscipit eveniet soluta dolorum ex natus incidunt
            vitae?
        </span>

        <div class="containerDueDate">
            <p class="dueDateText">Due Date:</p>
            <p class="dueDate">08/01/2024</p>
        </div>

        <div class="containerPrio">
            <p class="prioText">Priority:</p>
            <div class="containerPrioLevelAndImg">
                <p class="prio">Medium</p>
                <img src="../../../assets/icons/priority-low-icon.svg">
            </div>
        </div>


        <div class="containerAssignedTo">
            <p class="assignToText">Assigned To:</p>
            <ul>
                <li>
                    <p class="contactInitialLetter">T</p>
                    <p class="contactFullName">Tom</p>
                </li>
                <li>
                    <p class="contactInitialLetter">T</p>
                    <p class="contactFullName">Tom</p>
                </li>
                <li>
                    <p class="contactInitialLetter">T</p>
                    <p class="contactFullName">Tom</p>
                </li>
            </ul>
        </div>

        <div class="containerFooterDialogTaskDetailView">
            <div class="containerIconAndText">
                <img src="../../../assets/icons/trash-icon.svg">
                <p>Delete</p>
            </div>

            <hr>

            <div class="containerIconAndText">
                <img class="pencilIcon" src="../../../assets/icons/pencil-icon-blue.svg">
                <p>Edit</p>
            </div>
        </div>
    </div>

</div>