////////////////// Width
@media screen and (min-width: 1600px) {
    .containerDialogTaskDetailView {
        width: 550px;
    }

    app-dialog-edit-task {
        left: 0px;
    }
}


@media screen and (max-width: 700px) {
    app-dialog-edit-task {
        left: -40px;
    }
}


@media screen and (max-width: 600px) {
    app-dialog-edit-task {
        left: 0px;
    }
}


@media screen and (max-width: 510px) {
    .containerDialogTaskDetailView {
        width: 350px;
    }

    span {
        width: 350px;
    }

    app-dialog-edit-task {
        left: 0px;
    }
}


@media screen and (max-width: 450px) {
    .containerDialogTaskDetailView {
        width: 300px;
    }

    .containerHeaderDialogTaskDetailView {

        p {
            font-size: 20px;
        }
    }

    h1 {
        font-size: 51px;
    }

    span {
        width: 300px;
        font-size: 18px;
    }
}


@media screen and (max-width: 400px) {
    .containerDialogTaskDetailView {
        width: 250px;
        padding: 30px 35px 30px 35px;
    }

    .containerHeaderDialogTaskDetailView {

        p {
            font-size: 18px;
        }
    }

    h1 {
        font-size: 45px;
    }

    span {
        width: 250px;
    }

    .containerDueDate {

        p {
            font-size: 18px;
        }
    }

    .containerPrio {
        p {
            font-size: 18px;
        }
    }

    .containerPrioLevelAndImg {

        p {
            font-size: 18px;
        }

        img {
            width: 18px;
        }
    }

    .assignToText {
        font-size: 18px;
    }

    .contactInitialLetter {
        font-size: 18px;
        width: 35px;
        height: 35px;
    }

    .contactFullName {
        font-size: 18px;
    }

    app-dialog-edit-task {
        top: -25px;
        left: -20px;
    }
}


@media screen and (max-width: 380px) {

    app-dialog-edit-task {
        left: -8px;
    }
}


@media screen and (max-width: 345px) {
    .containerDialogTaskDetailView {
        width: 200px;
    }

    .containerHeaderDialogTaskDetailView {

        p {
            font-size: 15px;
        }
    }

    span {
        width: 200px;
    }

    .containerDueDate {

        p {
            font-size: 16px;
        }
    }

    .containerPrio {
        p {
            font-size: 16px;
        }
    }

    .containerPrioLevelAndImg {

        p {
            font-size: 16px;
        }

        img {
            width: 18px;
        }
    }

    .assignToText {
        font-size: 16px;
    }

    .contactInitialLetter {
        font-size: 16px;
        width: 30px;
        height: 30px;
    }

    .contactFullName {
        font-size: 16px;
    }

    app-dialog-edit-task {
        top: -30px;
        left: -3px;
    }
}