<nav>
    <img class="joinLogo" src="./assets/img/favicon-white.svg">
    <table class="linksNavigation">
        <tr routerLink="/summary" routerLinkActive="activeLink" [routerLinkActiveOptions]="{ exact: true }">
            <img src="./assets/icons/navbar-summary-icon.svg">
            <td>Summary</td>
        </tr>

        <tr routerLink="/addTask" routerLinkActive="activeLink" [routerLinkActiveOptions]="{ exact: true }">
            <img src="./assets/icons/navbar-add-task-icon.svg">
            <td>Add Task</td>
        </tr>

        <tr routerLink="/board" routerLinkActive="activeLink" [routerLinkActiveOptions]="{ exact: true }">
            <img src="./assets/icons/navbar-board-icon.svg">
            <td>Board</td>
        </tr>

        <tr routerLink="/contacts" routerLinkActive="activeLink" [routerLinkActiveOptions]="{ exact: true }">
            <img src="./assets/icons/navbar-contacts-icon.svg">
            <td>Contacts</td>
        </tr>
    </table>
    <ul>
        <li routerLink="/summary/privacy-policy" routerLinkActive="activeLink">Privacy Policy</li>
        <li routerLink="/summary/legal-notice" routerLinkActive="activeLink">Legal notice</li>
    </ul>
</nav>