<app-header></app-header>

<main>
    <app-sidebar></app-sidebar>

    <div class="containerDescription">
        <img routerLink="/summary" src="../../../assets/icons/arrow-back-icon.svg">
        <h1>Help</h1>

        <span>
            Welcome to the help page for Join, your guide to using our kanban project management tool. Here, we'll
            provide an overview of what Join is, how it can benefit you, and how to use it.
            Have fun with this tool.
        </span>

        <p>What is Join?</p>
        <span>
            Join is an agile Project Management Tool which is invented to bring Clarity to your work Process and to
            maximize the Efficieny of by limiting work in progress.
            in knowledge work, Join can be used for manufacturing Processes.
        </span>

        <p>How to use it</p>

        <table>
            <tr>
                <th>
                    1.
                </th>
                <td>
                    <span>
                        The first Step is to create a Task and fill in all needed informations. You can do that by
                        klicking
                        on Add Task in the Navigation Menu.
                        Now your Task will be shown in Board.
                    </span>
                </td>
            </tr>

            <tr>
                <th>
                    2.
                </th>
                <td>
                    <span>
                        If you click on contacts in the Navigation Menu your be able to Create a new Contact to assign
                        them to your Tasks.
                        now your contacts will be shown in the left column sorted by their first letter.
                    </span>
                </td>
            </tr>

            <tr>
                <th>
                    3.
                </th>
                <td>
                    <span>
                        When you click on Board in the Navigation Menu your Tasks will be shown in Columns. Everytime by
                        creating a Task first it will be shown in The column: In Progress.
                        if you want to change the status you can simply drag an drop your task into another column.
                        by clicking on a task you will see a fullview of this actual Task where you be able to change
                        some informations by clicking on the pencil at the bottom
                        by clicking on find Task your be able to search Tasks by theier title or their description.
                    </span>
                </td>
            </tr>

            <tr>
                <th>
                    4.
                </th>
                <td>
                    <span>
                        By clicking on Summary in the Navigation Menu you can see a summary of all Tasks and theier
                        actual Status and in addittion to that you can see the next up.
                    </span>
                </td>
            </tr>
        </table>

        <p>Enjoy using Join!</p>
    </div>
</main>