<app-header></app-header>

<main>
    <app-sidebar></app-sidebar>

    <div class="containerDescription">
        <img routerLink="{{ routingService.url }}" src="./assets/icons/arrow-back-icon.svg">
        <h1>Help</h1>

        <span>
            Welcome to the help page for Join, your guide to using our kanban project management tool. Here, we'll
            provide an overview of what Join is, how it can benefit you, and how to use it.
            Have fun with this tool.
        </span>

        <p>What is Join?</p>
        <span>
            Join is an agile Project Management Tool which is invented to bring Clarity to your work Process and to
            maximize the Efficieny of by limiting work in progress.
        </span>

        <p>How to use it</p>

        <table>
            <tr>
                <th>
                    1.
                </th>
                <td>
                    <span>
                        The first step is to create a contact and enter all the required information.
                        You can do this by clicking "Contacts" in the navigation.
                        When you create a Contact there, it will appear in the "Add Task" Section.
                        You can also edit and delete the Contacts.
                    </span>
                </td>
            </tr>

            <tr>
                <th>
                    2.
                </th>
                <td>
                    <span>
                        The second Step is to create a Task and fill in all needed informations.
                        You can do this by clicking "Add Task" in the navigation.
                        The Contacts you created previously, will displayed in the drop down Menu "Assigned to".
                        After you create a Task you will direct to the "Board".
                    </span>
                </td>
            </tr>

            <tr>
                <th>
                    3.
                </th>
                <td>
                    <span>
                        The "Board" Section will display all created Task in a mini View. If you would like to get all
                        the information about a task, click on the corresponding task. You can also Edit or delet the
                        Tasks. If you click of one of the + Icons you can add a Task in the "Board" too. If you want to
                        move the Tasks to a other Status, you can do it with drag and drop.
                    </span>
                </td>
            </tr>

            <tr>
                <th>
                    4.
                </th>
                <td>
                    <span>
                        The "Summary" displays all information, such as the total number of tasks or how many urgent
                        tasks there are and the next due date.
                    </span>
                </td>
            </tr>

        </table>

        <p>Enjoy using Join!</p>
    </div>
</main>