////////////////// Width
@media screen and (min-width: 1600px) {
    .containerLegalNotice {
        p {
            font-size: 18px;
        }
    }
}


@media screen and (max-width: 650px) {
    .containerLegalNotice {
        padding: 120px 25px 20px 25px;

        img {
            top: 90px;
        }
    }
}


@media screen and (max-width: 380px) {
    .containerLegalNotice {

        h1 {
            font-size: 45px;
        }
    }
}