<main>
    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="containerLegalNotice">
        <div class="containerHeadlineWithArrowIcon">
            <h1>Impressum</h1>
            <img routerLink="/signup" src="../../../assets/icons/arrow-back-icon.svg">
        </div>

        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
        <p>Tom Petri<br />
            Wilhelmstra&szlig;e 32<br />
            48324 Sendenhorst</p>

        <h2>Kontakt</h2>
        <p>E-Mail: tom.petri7@gmail.com</p>
        <p>
            Source
            <a href="https://www.e-recht24.de" target="_blank">
                https://www.e-recht24.de
            </a>
        </p>
    </div>
</main>