@import '../../../scss/mixin.scss';
@import '../../../scss/variables.scss';


.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000061;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


.popUpSigninSuccessfully {
    @include popUp();
}


main {
    height: 100vh;
    background-color: $mainBgColor;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 0px 40px;

    img {
        width: 70px;
    }
}


.parentContainerSignup {
    @include flexCentered();
    margin-top: 30px;
}


.childContainerSignup {
    @include flexCenteredColumn();
    gap: 25px;
    position: relative;
    padding: 28px 50px 28px 50px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 14px 3px #0000000A;

    img {
        position: absolute;
        top: 50px;
        left: 40px;
        padding: 8px;

        &:hover {
            @include iconHover();
        }
    }

    h1 {
        @include headline();
        margin: 0px 0px -10px 0;
    }

    hr {
        width: 150px;
        height: 3px;
        border-radius: 3px;
        margin: 0;
        background-color: $blueLineColor;
    }
}


form {
    @include flexCenteredColumn();
    gap: 25px;

    input {
        @include inputFieldDefault();
        @include inputFieldFocus();
        outline: none;
    }

    label {
        @include hover();
        display: flex;
        gap: 8px;

        a {
            @include hover();
            text-decoration: none;
            color: #29ABE2;

            &:hover {
                border-bottom: 2px solid #29ABE2;
            }
        }
    }
}


.inputName {
    background-image: url('../../../assets/icons/contact-icon.svg');
    background-repeat: no-repeat;
    background-position: 420px;
}


.inputEmail {
    background-image: url('../../../assets/icons/mail-icon.svg');
    background-repeat: no-repeat;
    background-position: 420px;
}


.inputPassword {
    background-image: url('../../../assets/icons/lock-icon.svg');
    background-repeat: no-repeat;
    background-position: 420px;
}


.checkbox {
    @include hover();
    width: unset !important;
    height: unset !important;
}


.btnContainer {
    display: flex;
    gap: 35px;

    button {
        @include btnPrimary();
        @include btnPrimaryHover();
        @include hover();
        border-radius: 8px;
        padding: 15px 24px 15px 24px;
        font-size: 21px;
        font-weight: 700;
    }
}