@import './scss/mixin.scss';
@import './scss/variables.scss';


body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}


/////////// Border Style for Error Input Field ///////////
.errorInputfield {
    @include inputFieldError();
}


/////////// Style if button is disabled ///////////
.btnDisabled {
    @include hoverDisabled();
    @include btnDisabled();
}


/////////// Style for Error Message if Invalid Input Fields ///////////
.errorMessage {
    @include errorMessage();
}


/////////// Sytles for current active Route ///////////
.activeLink {
    @include activeLink();
}


/////////// Custom Scrollbar Styles ///////////
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


::-webkit-scrollbar-thumb {
    background-color: #00000080;
    border-radius: 10px;

    &:hover {
        background-color: #908d8d;
    }
}


::-webkit-scrollbar-track {
    background-color: #F6F7F8;
}


/////////// Animation for the Popup ///////////
.slideInUp {
    animation: slideInUp 200ms 1 ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes slideInUp {
    from {
        transform: translateY(400px);
    }

    to {
        transform: translateY(0px);
    }
}


.d-none {
    display: none;
}