@import './scss/mixin.scss';
@import './scss/variables.scss';


body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}


/////////// Border Style for Error Input Field ///////////
.errorInputfield {
    @include inputFieldError();
}

/////////// Border Style for Error Input Field ///////////


/////////// Style if button is disabled ///////////
.btnDisabled {
    @include hoverDisabled();
    @include btnDisabled();
}

/////////// Style if button is disabled ///////////


/////////// Style for Error Message if Invalid Input Fields ///////////
.errorMessage {
    @include errorMessage();
}

/////////// Style for Error Message if Invalid Input Fields ///////////


/////////// Sytles for current active Route ///////////
.activeLink {
    @include activeLink();
}

/////////// Sytles for current active Route ///////////


/////////// Custom Scrollbar Styles ///////////
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


::-webkit-scrollbar-thumb {
    background-color: #00000080;
    border-radius: 10px;

    &:hover {
        background-color: #908d8d;
    }
}


::-webkit-scrollbar-track {
    background-color: #F6F7F8;
}

/////////// Custom Scrollbar Styles ///////////


.d-none {
    display: none;
}