@import './scss/mixin.scss';
@import './scss/variables.scss';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';


body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}


/////////// Border Style for Error Input Field ///////////
.errorInputfield {
    @include inputFieldError();
}


/////////// Style if button is disabled ///////////
.btnDisabled {
    @include hoverDisabled();
    @include btnDisabled();
}


/////////// Style for Error Message if Invalid Input Fields ///////////
.errorMessage {
    @include errorMessage();
}


/////////// Styles for active Route ///////////
.activeLink {
    @include activeLink();
}


/////////// Styles for active Button low Prio ///////////
.btnLowPrio {
    @include btnLowPrio();
}


/////////// Styles for active Button medium Prio ///////////
.btnMediumPrio {
    @include btnMediumPrio();
}


/////////// Styles for active Button urgent Prio ///////////
.btnUrgentPrio {
    @include btnUrgentPrio();
}


/////////// Custom Scrollbar Styles ///////////
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


::-webkit-scrollbar-thumb {
    background-color: #00000080;
    border-radius: 10px;

    &:hover {
        background-color: #908d8d;
    }
}


::-webkit-scrollbar-track {
    background-color: #ffffff;
}


/////////// Custom styles for the Menu in the top right corner header ///////////
.mat-mdc-menu-content,
.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
    background-color: $mainColor;
    box-shadow: 0px 0px 4px 0px #0000001A;
    padding: 10px 15px 10px 15px !important;
}


.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
    border-radius: 20px 0px 20px 20px;
}


.mat-mdc-menu-content,
.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
    p {
        color: #CDCDCD !important;
        margin: 0;
        padding: 10px 10px 10px 10px;
        @include hover();

        &:hover {
            background-color: #4e537399;
        }
    }
}


.cdk-overlay-pane {
    margin-top: 15px;
    margin-right: -50px;
}


/////////// Styles for Dropdown Menus ///////////
.rotateArrowIconInDropdownMenu {
    transform: rotate(180deg) !important;
}


.activeDropdownMenu {
    border: 1px solid $inputFieldFocusBorderColor !important;
}


.activeSelectedContactInDropdownMenu {
    background-color: $mainColor;
    color: white;

    &:hover {
        background-color: #091931 !important;
    }
}


/////////// Custom Styles for Tooltip ///////////
.cdk-overlay-container .mat-mdc-tooltip {
    --mdc-plain-tooltip-container-color: #2A3647;
    --mdc-plain-tooltip-supporting-text-color: white;
    --mdc-plain-tooltip-container-shape: 4px;
    --mdc-plain-tooltip-supporting-text-size: 14px;
}


/////////// Animation for Message, if Singup or Login was successufully or not ///////////
.slideInUp {
    animation: slideInUp 200ms 1 ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes slideInUp {
    from {
        transform: translateY(400px);
    }

    to {
        transform: translateY(0px);
    }
}


/////////// Animations for Dialog, if is it open or not ///////////
.slideIn {
    animation: slideIn 400ms ease-in-out;
}


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(180px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


.slideOut {
    animation: slideOut 400ms ease-in-out forwards;
}


@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0px);
    }

    to {
        opacity: 0;
        transform: translateX(180px);
    }
}


.d-none {
    display: none;
}