@import './variables.scss';


@mixin hover() {
    &:hover {
        cursor: pointer;
        transition: all 25ms ease-in-out;
    }
}


@mixin closeIconHover() {
    @include hover();
    background-color: $closeIconHover;
}


@mixin inputFieldFocus() {
    &:focus {
        border: 1px solid $inputFieldFocus;
    }
}


@mixin inputFieldError() {
    &:focus {
        border: 1px solid $inputFieldError;
    }
}


@mixin inputFieldDefault() {
    width: 400px;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid $inputFieldDefault;

    &::placeholder {
        color: $placeholderColorInputFields;
    }
}


@mixin btnPrimary() {
    background-color: $btnPrimaryBgColor;
    color: $btnPrimaryTextColor;
    border: unset;
}


@mixin btnPrimaryHover() {
    &:hover {
        @include hover();
        background-color: $btnPrimaryHover;
    }
}


@mixin btnSecondary() {
    background-color: $btnSecondaryBgColor;
    border: 1px solid $btnSecondaryBorderColor;
    color: $btnSecondaryTextColor;
}


@mixin btnSecondaryHover() {
    &:hover {
        @include hover();
        border: 1px solid $btnSecondaryHover;
        color: $btnSecondaryHover;
    }
}


@mixin blueLineRotatedVertically() {
    background-color: $blueLineColor;
    transform: rotate(90deg);
}


@mixin flexCentered() {
    display: flex;
    justify-content: center;
}


@mixin flexCenteredColumn() {
    display: flex;
    align-items: center;
    flex-direction: column;
}