@import './variables.scss';


@mixin hover() {
    &:hover {
        cursor: pointer;
        transition: all 25ms ease-in-out;
    }
}


@mixin hoverDisabled() {
    &:hover {
        cursor: not-allowed !important;
        background-color: $btnDisabled;
        box-shadow: unset !important;
    }
}


@mixin iconHover() {
    @include hover();
    border-radius: 50%;
    background-color: $iconHover;
}


@mixin inputFieldFocus() {
    &:focus {
        border: 1px solid $inputFieldFocusBorderColor;
    }
}


@mixin inputFieldError() {
    border: 1px solid $inputFieldErrorBorderColor !important;
}


@mixin errorMessage() {
    width: 100%;
    height: 0;
    margin: 0;
    font-size: 14px;
    padding-left: 10px;
    margin-top: -15px;
    color: $errorMessage;
}


@mixin inputFieldDefault() {
    width: 400px;
    height: 40px;
    padding: 0px 45px 0 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid $inputFieldDefaultBorderColor;

    &::placeholder {
        color: $placeholderColorInputFields;
    }
}


@mixin btnPrimary() {
    background-color: $btnPrimaryBgColor;
    color: $btnPrimaryTextColor;
    border: unset;
}


@mixin btnPrimaryHover() {
    &:hover {
        @include hover();
        background-color: $btnPrimaryHover;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
}


@mixin btnSecondary() {
    background-color: $btnSecondaryBgColor;
    color: $btnSecondaryTextColor;
    border: 1px solid $btnSecondaryBorderColor;
}


@mixin btnSecondaryHover() {
    &:hover {
        @include hover();
        border: 1px solid $btnSecondaryHover;
        color: $btnSecondaryHover;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
}


@mixin btnDisabled() {
    @include hoverDisabled();
    background-color: #7c7777 !important;
}


@mixin btnPrio() {
    gap: 8px;
    background-color: #ffffff;
    border: unset;
    width: 142px;
    font-size: 20px;
    padding: 16px 10px 16px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #0000001A;

    &:hover {
        box-shadow: 0px 4px 4px 0px #00000040;
    }
}


@mixin btnLowPrio() {
    background-color: $colorLowPrio !important;
    color: white;

    &:hover {
        box-shadow: unset !important;
        cursor: unset !important;
    }

    img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(7487%) hue-rotate(231deg) brightness(106%) contrast(102%);
    }
}


@mixin btnMediumPrio() {
    background-color: $colorMediumPrio !important;
    color: white;

    &:hover {
        box-shadow: unset !important;
        cursor: unset !important;
    }

    img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(7487%) hue-rotate(231deg) brightness(106%) contrast(102%);
    }
}


@mixin btnUrgentPrio() {
    background-color: $colorUrgentPrio !important;
    color: white;

    &:hover {
        box-shadow: unset !important;
        cursor: unset !important;
    }

    img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(7487%) hue-rotate(231deg) brightness(106%) contrast(102%);
    }
}


@mixin headline() {
    font-size: 61px;
    font-weight: 700;
}


@mixin activeLink() {
    background-color: #091931;

    img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(93%) saturate(2%) hue-rotate(41deg) brightness(108%) contrast(101%);
    }

    &:hover {
        cursor: unset !important;
        background-color: #091931 !important;
        color: #A8A8A8 !important;
    }
}


@mixin popUp() {
    border-radius: 20px;
    padding: 0px 25px 0px 25px;
    box-shadow: 0 0 4px 0 #00000026;
    position: fixed;
    transform: translateY(400px);

    p {
        font-size: 20px;
        color: #ffffffff;
    }
}


@mixin flexCenteredXAxis() {
    display: flex;
    justify-content: center;
}


@mixin flexCenteredYAxis() {
    display: flex;
    align-items: center;
}


@mixin flexSpaceBetween() {
    display: flex;
    justify-content: space-between;
}


@mixin flexSpaceAround() {
    display: flex;
    justify-content: space-around;
}


@mixin flexSpaceEvenly() {
    display: flex;
    justify-content: space-evenly;
}


@mixin flexCenteredColumnXAxis() {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@mixin flexCenteredColumnYAxis() {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@mixin flexCenteredMiddle() {
    display: flex;
    justify-content: center;
    align-items: center;
}