$mainBgColor: #F6F7F8;
$mainColor: #2A3647;
$btnPrimaryBgColor: #2A3647;
$btnPrimaryTextColor: #ffffff;
$btnPrimaryHover: #29ABE2;
$btnSecondaryBgColor: white;
$btnSecondaryTextColor: #2A3647;
$btnSecondaryBorderColor: #2A3647;
$btnSecondaryHover: #29ABE2;
$inputFieldDefault: #D1D1D1;
$inputFieldFocus: #29ABE2;
$inputFieldError: #FF001F;
$placeholderColorInputFields: #D1D1D1;
$errorMessage: #FF001F;
$closeIconHover: #0000001a;
$textColorHeadlines: #000000;
$blueLineColor: #29ABE2;