$generallyPrimaryColor: #2A3647;
$generallyPrimaryColorHover: #2A3647;
$btnPrimary: #2A3647;
$btnPrimaryHover: #29ABE2;
$btnSecondary: white;
$btnSecondaryHover: #29ABE2;
$inputFieldDefault: #D1D1D1;
$inputFieldFocus: #29ABE2;
$inputFieldError: #FF001F;
$borderRadiusInputFields: 10px;
$textSizeInputFields: 20px;
$textWeightInputFields: 400;
$placeholderColorInputFields: #D1D1D1;
$errorMessage: #FF001F;
$closeIconHover: #0000001a;
$textColorHeadlines: #000000;
$blueLine: #29ABE2;